@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@400&display=swap');

$primary:       Black;
$secondary:     White;
$success:       #ebebeb;
$info:          #cbcbcb;
$warning:       #A60505;
$light:         White;
$dark:          Black;



@import "../node_modules/bootstrap/scss/bootstrap";