@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@400&display=swap');

$primary:       Black;
$secondary:     White;
$success:       #ebebeb;
$info:          #f5f5f5;
$warning:       #A60505;
$light:         White;
$dark:          Black;


@import "../node_modules/bootstrap/scss/bootstrap";

// :root {
//    Add root even though with the items above?
// }

.primary-btn {
    color: white;
    background-color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: none;
    border-radius: 0.5em;
}

// Need to add in primary button atributes

.fashion {
    background-color: #f5f5f5;
    color: black;
}

.about {
    background-image: url(../images/girl-laying-pink-banner.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;
    height: 450px;
}

.about-img-section {
    background-image: url(../images/girl-laying-pink-banner.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;
    height: 450px;
}

.banner-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #f5f5f5;
}

.about-write-up {
    background-color: #f5f5f5;
}

.contact {
    background-color: #f5f5f5;
    color: black;
}

.contacts {
    background-color: #f5f5f5;
}

.bottom-c-text {
    background-color: #f5f5f5;
}

.navbar-toggler {
    border: none;
    border-style: none;
}

.navbar-nav .nav-link:hover {
    color: #A60505;
}
