@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@400&display=swap');

$primary:       Black;
$secondary:     White;
$success:       #ebebeb;
$info:          #f5f5f5;
$warning:       #A60505;
$light:         White;
$dark:          Black;


@import "../node_modules/bootstrap/scss/bootstrap";

// :root {
//    Add root even though with the items above?
// }

.primary-btn {
    color: white;
    background-color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: none;
    border-radius: 0.5em;
}

// Need to add in primary button atributes

.cards {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.5s; /* don't forget to set a duration! */
}


.fashion {
    background-color: #f5f5f5;
    color: black;
}


.about {
    background-image: url(../images/girl-laying-pink-banner.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;
    height: 450px;
}

.about-img-section {
    background-image: url(../images/girl-laying-pink-banner.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;
    height: 450px;
}

.banner-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #f5f5f5;
}

.about-write-up {
    background-color: #ffffff;
}


.contact {
    color: black;
}


.bottom-c-text {
    background-color: #f5f5f5;
}

.navbar-toggler {
    border: none;
    border-style: none;
    outline: none;
}


.navbar-nav .nav-link:hover {
    color: #A60505;
}


.footer {
    background-color: #ebebeb;
}

header {
    width: 100%;
    z-index: 10;
}

body {
    overflow-x: hidden !important;
}

@media screen and (max-width: 768px) {
    .contacts-2 {
        padding-top: 0 !important;
    }
}

@media screen and (min-width: 992px) {
    .fashion .container {
        margin-left: -12vw;
        margin-right: 0;
        max-width: 120vw;
        width: 120vw;
    }
}
